<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>User type</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.user_type %></td>
    <td><%= user.nickname %></td>
    <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% if user.user_type == "admin" %>
    <td><a href=<%="/users/assignOrRevokeAdminRole?users_id=#{user.id}&type=revoke"%>>Revoke Admin Role</a></td>
    <% else%>
        <td><a href=<%="/users/assignOrRevokeAdminRole?users_id=#{user.id}&type=assign"%>>Assign Admin Role</a></td>
    <%end %>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New User', new_user_path %>-->
<%= link_to 'Show all Categories', categories_url %>
<%= link_to 'Show all Posts', posts_url %>
<a href="/users/reports">Show Reports </a>
